{% extends "base/base.html" %}

{% block title %}Login{% endblock %}

{% block additional_css %}
    <style>
        .centered-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }
        .centered-container h2 {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .centered-container form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .centered-container input[type="email"],
        .centered-container input[type="password"] {
            background-color: #333;
            border: none;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            color: #fff;
            width: 250px;
            box-sizing: border-box;
        }
        .centered-container button {
            background-color: #1e90ff;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s;
        }
        .centered-container button:hover {
            transform: translateY(-2px);
        }
        .centered-container button:active {
            transform: translateY(0);
        }
        .separator {
            margin: 20px 0;
            border-top: 1px solid #444;
            width: 250px;
        }
        .register-link {
            margin-top: 20px;
            font-size: 0.9em;
            color: #bbb;
        }
        .register-link a {
            color: #1e90ff;
            text-decoration: none;
        }
        .register-link a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="centered-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="email" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <div class="separator"></div>
        <div class="register-link">
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </div>
{% endblock %}
