{% extends "base/base.html" %}

{% block title %}Register{% endblock %}

{% block additional_css %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <div class="centered-container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.password }}
            {{ form.password_confirm }}
            <button type="submit">Register</button>
        </form>
        <div class="separator"></div>
        <div class="login-link">
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock %}
