{% extends "base/base.html" %}

{% block title %}Your Memos{% endblock %}

{% block additional_css %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #121212;
            color: #ffffff;
        }

        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1200px;
            height: 100%;
        }

        .upper-zone {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30%;
            border-bottom: 2px solid #1e90ff;
            padding: 20px 0;
        }

        .lower-zone {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 70%;
            padding: 20px 0;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 900px;
        }

        .avatar-container {
            position: relative;
            margin-bottom: 10px;
            margin-top: 50px;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 4px solid #1e90ff;
            box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
            object-fit: cover;
            cursor: pointer;
        }

        .file-input {
            display: none;
        }

        .file-input-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-color: #1e90ff;
            border: 2px solid #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .file-input-button svg {
            width: 18px;
            height: 18px;
            fill: #ffffff;
        }

        .username {
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
            margin-top: 20px;
        }

        .add-note-button {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: #1e90ff;
            border: 2px solid #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            font-size: 24px;
            color: #ffffff;
            text-align: center;
            line-height: 1;
            font-weight: bold;
            transition: background-color 0.3s, transform 0.3s;
        }

        .add-note-button:hover {
            background-color: #1c86ee;
            transform: scale(1.1);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="upper-zone">
            <div class="user-info">
                <form method="post" enctype="multipart/form-data" action="{% url 'upload_avatar' %}">
                    {% csrf_token %}
                    <div class="avatar-container">
                        {# TODO: default image #}
                        <img src="{{ user.avatar.url }}" alt="User Avatar" class="avatar" id="avatar">
                        <label for="file-input" class="file-input-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32">
                                <path fill="currentColor"
                                      d="M21.65 3.434a4.889 4.889 0 1 1 6.915 6.914l-.902.901l-6.914-6.914zM19.335 5.75L4.357 20.73a3.7 3.7 0 0 0-1.002 1.84l-1.333 6.22a1 1 0 0 0 1.188 1.188l6.22-1.333a3.7 3.7 0 0 0 1.84-1.002l14.98-14.98z"></path>
                            </svg>
                        </label>
                        <input type="file" name="avatar" class="file-input" id="file-input" accept="image/*"
                               onchange="this.form.submit();">
                    </div>
                </form>
                <div class="username">{{ user.username }}</div>
            </div>
        </div>
        <div class="lower-zone">
            <div class="notes">
                {% for memo in user_memos %}
                    <div class="note">{{ memo.file_name }}</div>
                {% endfor %}
            </div>
            <a href="{% url 'create_memo_page' %}" class="add-note-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14">
                    <path fill="currentColor" fill-rule="evenodd"
                          d="M8 1a1 1 0 0 0-2 0v5H1a1 1 0 0 0 0 2h5v5a1 1 0 1 0 2 0V8h5a1 1 0 1 0 0-2H8z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}
