<style>
    .notes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .note {
        width: 175px;
        height: 90px;
        background-color: #333333;
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    .note-title {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .note-description {
        font-size: 0.9em;
        text-align: left;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: 1px solid #fff;
        padding-top: 10px;
        margin-top: 10px;
    }

    .note-created-at {
        padding-top: 10px;
        font-size: 0.8em;
        text-align: right;
    }
</style>

<div class="notes">
    {% for memo in memos %}
        <div class="note">
            <div class="note-title">{{ memo.title }}</div>
            <div class="note-description">{{ memo.description }}</div>
            <div class="note-created-at">{{ memo.created_at|date:"d M Y" }}</div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'create_memo_page' %}" class="add-note-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14">
        <path fill="currentColor" fill-rule="evenodd"
              d="M8 1a1 1 0 0 0-2 0v5H1a1 1 0 0 0 0 2h5v5a1 1 0 1 0 2 0V8h5a1 1 0 1 0 0-2H8z"
              clip-rule="evenodd"></path>
    </svg>
</a>
